using System.Reflection ;

[assembly: AssemblyCopyright("Copyright ©  <#=System.DateTime.Now.Year.ToString ( )#>" )]
[assembly: AssemblyProduct("DICOMcloud")]
[assembly: AssemblyCompany("Zaid Al-Safadi")]
// Version information for an assembly consists of the following four values:
//
//      Major Version
//      Minor Version 
//      Build Number
//      Revision
//
[assembly: AssemblyVersion("0.7.*")]
[assembly: AssemblyInformationalVersion("0.7.1-beta")]